autopep8
tqdm

numpy
numba
scipy
pandas
matplotlib

dash

# CUDA 12.1
# torch==2.1.2+cu121
# torchvision==0.16.2+cu121

# CPU
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

accelerate
torchkeras
torchmetrics
wandb

soundfile